
@{
    ViewBag.Title = "Identity User Role Management";
}

<div style="text-align:center; font-weight:bold; font-size: 72px;">
    Identity User Role Management<br />
    There was an Error<br/>
    <span style="color:red">Install Failed</span>
</div>