
@{
    ViewBag.Title = "Identity User Role Management";
}

<div style="text-align:center; font-weight:bold; font-size: 72px;">
    Identity User Role Management<br />
    <span style="color:green">Installed Successfully</span>
</div>
